# **Python Dictionaries**

***A dictionary associates keys with values. Each key maps to a specific value.***

***A dictionaryâ€™s keys must be immutable and unique (that is, no duplicates). Multiple keys can have the same value.***

***Python dictionary is an unordered collection of items. Each item of a dictionary has a key-value pair.***

***Python dictionaries are mutable objects. In other words, we can change, add or remove key-value pairs after assigning.***

Python Dictionary stores the data in a `key-value` pair format. The dictionary is the data type in Python, which can simulate the real-life data arrangement where some specific value exists for some particular key. It is a mutable data structure. The dictionary is defined into element keys and values.

*   Keys must be a single element.
*   Value can be of any type, i.e., list, tuple, integer, etc.

In other words, we can say that a dictionary is a collection of key-value pairs where the value can be any Python object. In contrast, the keys are the immutable Python object, i.e., numbers, strings, or tuples.

### **References:**

> [**Python Dictionary - Programiz**](https://www.programiz.com/python-programming/dictionary)

In [1]:
"""
We can create a dictionary by enclosing in curly braces, {}, a comma-separated list of key-value pairs, each of the form "key: value".
We can create an empty dictionary with {}.
"""

country_codes = {
    "United Kingdom": "UK",
    "United States": "USA",
    "India": "IN",
    "Australia": "AUS",
    "New Zealand": "NZ",
}

"""
Since dictionaries are unordered collections, the display order can differ from the order in which the key-value pairs were 
added to the dictionary. When we output a dictionary, its comma-separated list of key-value pairs enclosed within curly braces.
"""

country_codes

{'Australia': 'AUS',
 'India': 'IN',
 'New Zealand': 'NZ',
 'United Kingdom': 'UK',
 'United States': 'USA'}

**Built-in "$dict()$" Function.**

In [2]:
""" Create a dictionary using the built-in dict() function. """

Dict_1 = dict({1: "Python", 2: "for", 3: "Everyone"})
print(Dict_1)  # Create Dictionary by using  dict() method.

Dict_2 = dict([(1, "Aritra"), (2, "Ganguly")])
print(Dict_2)  # Create Dictionary with each item as a pair.

{1: 'Python', 2: 'for', 3: 'Everyone'}
{1: 'Aritra', 2: 'Ganguly'}

In [3]:
# The built-in function "len()" returns the number of key-value pairs in a dictionary.
print(len(country_codes))   # Length of Dictionary.
print(type(country_codes))  # Data Structure Type.

5
<class 'dict'>

In [4]:
# Check if a Dictionary Is Empty.
if country_codes:
    print("Dictionary is Not Empty.")
else:
    print("Dictionary is Empty.")

Dictionary is Not Empty.

In [5]:
# Delete/Clear the dictionary's key-value pairs.
country_codes.clear()

country_codes

{}

In [6]:
# Check if a Dictionary Is Empty.
if country_codes:
    print("Dictionary is Not Empty.")
else:
    print("Dictionary is Empty.")

Dictionary is Empty.

## **Basic Dictionary Operations**

In [7]:
# Iterate through a Dictionary.

days_per_month = {
    "January": 31,
    "February": 28,
    "March": 31,
    "April": 30,
    "May": 31,
    "June": 30,
    "July": 31,
    "August": 31,
    "September": 30,
    "October": 31,
    "November": 30,
    "December": 31,
}

# Length of Dictionary.
print("Length of Dictionary is ", len(days_per_month))
print("\n")

for month, days in days_per_month.items():
    print(f"{month} has {days} days")

Length of Dictionary is  12


January has 31 days
February has 28 days
March has 31 days
April has 30 days
May has 31 days
June has 30 days
July has 31 days
August has 31 days
September has 30 days
October has 31 days
November has 30 days
December has 31 days

**Access the Value Associated with a Key.**

In [8]:
days_per_month["January"]  # Return's the value associated with the key "January".

31

 *Python provides an alternative to using the $get()$ method to access the dictionary values. It will give the same result as given by the indexing.*

In [9]:
print(days_per_month.get("December"))  # Access an element using the "get()" method.

31

**Update the Value of an Existing Key-Value Pair.**

In [10]:
# Update/Replace the incorrect value associated with the key "February".
days_per_month["February"] = 29

days_per_month

{'April': 30,
 'August': 31,
 'December': 31,
 'February': 29,
 'January': 31,
 'July': 31,
 'June': 30,
 'March': 31,
 'May': 31,
 'November': 30,
 'October': 31,
 'September': 30}

In [11]:
days_per_month.update(February=28)  # The "update()" method can insert and update key-value pairs in the dictionary.

**Remove a Key-Value Pair.**

In [12]:
# Delete a key-value pair from the dictionary using the "del" statement.
del days_per_month["May"]

days_per_month

{'April': 30,
 'August': 31,
 'December': 31,
 'February': 28,
 'January': 31,
 'July': 31,
 'June': 30,
 'March': 31,
 'November': 30,
 'October': 31,
 'September': 30}

In [13]:
# We can also remove a key-value pair with the dictionary method "pop()", which returns the value for the removed key.

days_per_month.pop("August")  # The "pop()" method accepts the key as an argument and removes the associated value.

31

In [14]:
# The "popitem()" method can be used to remove and return an arbitrary (key, value) item pair from the dictionary.
days_per_month.popitem()

('December', 31)

In [15]:
days_per_month

{'April': 30,
 'February': 28,
 'January': 31,
 'July': 31,
 'June': 30,
 'March': 31,
 'November': 30,
 'October': 31,
 'September': 30}

**Add a New Key-Value Pair.**

If the **key-value** is already present in the dictionary, the existing value gets updated. Otherwise, if that specific key is not present, a new **(key: value)** pair is added to the dictionary.

In [16]:
days_per_month["May"] = 31

days_per_month

{'April': 30,
 'February': 28,
 'January': 31,
 'July': 31,
 'June': 30,
 'March': 31,
 'May': 31,
 'November': 30,
 'October': 31,
 'September': 30}

**Attempt to Access a Non-existent Key.**

In [17]:
days_per_month["August"]  # KeyError.

KeyError: ignored

To prevent this error, use the dictionary method "$get()$", which returns its argument's corresponding value. If the key is not found, "$get()$" returns `None`.

In [18]:
days_per_month.get("August")

In [19]:
# If we specify a second argument to get(), it returns that value if the key is not found.
days_per_month.get("August", "August not in dictionary")

'August not in dictionary'

**Test Whether a Dictionary Contains a Specified Key.**

Operators $in$ and $not\mbox{ }in$ can determine whether a dictionary contains a specified key.

In [20]:
"November" in days_per_month

True

In [21]:
"August" in days_per_month

False

In [22]:
"January" not in days_per_month

False

**Dictionary Methods "$keys$" and "$values$".**

Earlier, we used the dictionary method "$items()$" to iterate through tuples of a dictionary's key-value pairs. Similarly, the methods "$keys()$" and "$values()$" can be used to iterate through only a dictionary's keys or values, respectively.

[**Python Dictionary Methods - GeeksforGeeks**](https://www.geeksforgeeks.org/python-dictionary-methods/)

In [23]:
months = {
    "January": 1,
    "February": 2,
    "March": 3,
    "April": 4,
    "May": 5,
    "June": 6,
    "July": 7,
    "August": 8,
    "September": 9,
    "October": 10,
    "November": 11,
    "December": 12,
}

In [24]:
for month_name in months.keys():
    print(month_name, end=" ")

January February March April May June July August September October November December

In [25]:
for month_number in months.values():
    print(month_number, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12

**Convert Dictionary Keys, Values, and Key-Value Pairs to Lists.**

We might occasionally need lists of a dictionary's keys, values, or key-value pairs. To obtain such a *list*, pass the view returned by keys, values, or items to the built-in list function. Modifying these *lists* does not modify the corresponding dictionary.

In [26]:
list(months.keys())     # Returns list consists of the dictionary's keys.

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [27]:
list(months.values())   # Returns list consists of the dictionary's values.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [28]:
list(months.items())    # Returns list consists of the dictionary's key-value.

[('January', 1),
 ('February', 2),
 ('March', 3),
 ('April', 4),
 ('May', 5),
 ('June', 6),
 ('July', 7),
 ('August', 8),
 ('September', 9),
 ('October', 10),
 ('November', 11),
 ('December', 12)]

**Processing Keys in Sorted Order**

To process keys in *sorted* order, we can use a built-in function $sorted()$ as follows:

In [29]:
for month_name in sorted(months.keys()):
    print(month_name, end=" ")

April August December February January July June March May November October September

**Dictionary Comparisons**

The comparison operators $==$ and $!=$ can be used to determine whether two dictionaries have identical or different contents. An equals ($==$) comparison evaluates to True if both dictionaries have the same key-value pairs, regardless of the order in which those key-value pairs were added to each dictionary.

In [30]:
EU_capitals = {"France": "Paris", "Germany": "Berlin"}

NA_capitals = {"USA": "Washington DC", "Canada": "Ottawa"}

capitals = {"Germany": "Berlin", "France": "Paris"}

In [31]:
EU_capitals == NA_capitals

False

In [32]:
EU_capitals == capitals

True

In [33]:
NA_capitals != capitals

True

**Dictionary Comprehensions**

A dictionary comprehension can map a dictionary's values to new values. The following comprehension converts a dictionary of names and lists of grades into a dictionary of names and grade-point averages. The variables $k$ and $v$ commonly mean $key$ and $value$.

In [34]:
grades = {"Sue": [98, 87, 94], "Bob": [84, 95, 91]}

grades_avg = {k: sum(v) / len(v) for k, v in grades.items()}

grades_avg

{'Bob': 90.0, 'Sue': 93.0}

In [35]:
# Construct output Dictionary Without Using Dictionary Comprehension.

input_list = [1, 2, 3, 4, 5, 6, 7]

output_dict = {}

# Using for() loop for constructing output Dictionary.
for var in input_list:
    if var % 2 != 0:
        output_dict[var] = var**3

print("Output Dictionary using the for() loop:", output_dict)

# Construct output Dictionary Using Dictionary Comprehension.

dict_using_comp = {var: var**3 for var in input_list if var % 2 != 0}

print("Output Dictionary using Dictionary Comprehension:", dict_using_comp)

Output Dictionary using the for() loop: {1: 1, 3: 27, 5: 125, 7: 343}
Output Dictionary using Dictionary Comprehension: {1: 1, 3: 27, 5: 125, 7: 343}

In [36]:
# Construct output Dictionary Without Using Dictionary Comprehension.

state = ["West Bengal", "Maharashtra", "Karnataka"]
capital = ["Kolkata", "Mumbai", "Bangalore"]

output_dict = {}

# Using for() loop for constructing output Dictionary.
for (key, value) in zip(state, capital):
    output_dict[key] = value

print("Output Dictionary using the for() loop:", output_dict)

# Construct output Dictionary Using Dictionary Comprehension.

dict_using_comp = {key: value for (key, value) in zip(state, capital)}

print("Output Dictionary using Dictionary Comprehension:", dict_using_comp)

Output Dictionary using the for() loop: {'West Bengal': 'Kolkata', 'Maharashtra': 'Mumbai', 'Karnataka': 'Bangalore'}
Output Dictionary using Dictionary Comprehension: {'West Bengal': 'Kolkata', 'Maharashtra': 'Mumbai', 'Karnataka': 'Bangalore'}

**Duplicating Dictionary**

In [37]:
grades = {"Sue": [88, 74, 96], "Bob": [89, 65, 91]}

grades_duplicate = grades.copy()

grades_duplicate

{'Bob': [89, 65, 91], 'Sue': [88, 74, 96]}

**Merge two or more Dictionary**

In [38]:
person = {"name": "Aritra", "age": 25, "location": "London"}
position = {"job": "Data Scientist", "salary": 70000}

In [39]:
# Merge dictionary using ** argument.
dict_merged = {**person, **position}
print(dict_merged)

{'name': 'Aritra', 'age': 25, 'location': 'London', 'job': 'Data Scientist', 'salary': 70000}

### **Nested Dictionary**

![image.png](https://media.geeksforgeeks.org/wp-content/uploads/Dictionary_inmage.jpg)

In [40]:
fav_website = {1: "Geeks", 2: "for", 3: {"A": "Welcome", "B": "To", "C": "Geeks"}}

In [41]:
# Access elements from Nested Dictionary.
print(fav_website[1])
print(fav_website[2])
print(fav_website[3]["C"])

Geeks
for
Geeks

## **Example: Dictionary of Student Grades**

The following script represents an instructor's grade book as a dictionary that maps each student's name (a string) to a list of integers containing that student's grades on three exams.

In [42]:
""" Use a dictionary to represent an instructor's grade book. """

grade_book = {
    "Susan": [92, 85, 100],
    "Eduardo": [83, 95, 79],
    "Azizi": [91, 89, 82],
    "Pantipa": [97, 91, 92],
}

all_grades_total = 0
all_grades_count = 0

for name, grades in grade_book.items():
    total = sum(grades)
    print(f"Average for {name} is {total/len(grades):.2f}")
    all_grades_total += total
    all_grades_count += len(grades)

print(f"Class's average is: {all_grades_total / all_grades_count:.2f}")

Average for Susan is 92.33
Average for Eduardo is 85.67
Average for Azizi is 87.33
Average for Pantipa is 93.33
Class's average is: 89.67

## **Example: Word Counts**

The following script builds a dictionary to count the number of occurrences of each word in a string.

In [43]:
""" Tokenizing a string and counting unique words. """

text = (
    "This is sample text with several words"
    "This is more sample text with some different words"
)

word_counts = {}

# Count occurrences of each unique word.

for word in text.split():
    if word in word_counts:
        word_counts[word] += 1  # Update existing Key-Value pair.
    else:
        word_counts[word] = 1   # Insert new Key-Value pair.

print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_counts.items()):
    print(f"{word:<12}{count}")

print("\nNumber of Unique Words:", len(word_counts))

WORD        COUNT
This        1
different   1
is          2
more        1
sample      2
several     1
some        1
text        2
with        2
words       1
wordsThis   1

Number of Unique Words: 11

**Python Standard Library Module Collections**

The Python Standard Library already contains the counting functionality, which we implemented using the dictionary and the loop above. The module **collections** contain the type **Counter**, which receives an iterable and summarizes its elements.

In [44]:
from collections import Counter

text = (
    "This is sample text with several words"
    "This is more sample text with some different words"
)

counter = Counter(text.split())

for word, count in sorted(counter.items()):
    print(f"{word:<12}{count}")

print("Number of Unique Keys:", len(counter.keys()))

This        1
different   1
is          2
more        1
sample      2
several     1
some        1
text        2
with        2
words       1
wordsThis   1
Number of Unique Keys: 11