# **Python Sets**

A Python Set is a collection of unordered items. Each element in the Set must be unique (no duplicates), immutable (cannot be changed), and the Python Set also remove the duplicate elements. However, a Python Set itself is mutable, i.e., we can modify it (i.e., add or remove items) after its creation. Python Sets can also perform mathematical set operations like union, intersection, difference, symmetric difference, etc.

Unlike other collections in Python, there is no index attached to the elements of the Sets, i.e., we cannot directly access any element of the Sets by the index. However, we can print them all together or get the list of elements by looping through the Set. Python Sets are iterable but are not sequences and do not support indexing and slicing with square brackets $\left [ \mbox{ } \right ]$.

### **References:**

> [**Python Sets - Programiz**](https://www.programiz.com/python-programming/set)

**Create a Set with Curly Braces.**

A Python Set is created by placing all the items (elements) inside curly braces $\left \{  \right \}$, separated by a comma $(,)$, or by using the built-in $set()$ function. Python Set can have any number of items and can be of different types (integer, float, tuple, string, etc.). But a Set cannot have mutable elements like lists, sets, or dictionaries as its elements.

In [ ]:
# The following code creates a Set of strings named colors.
colors = {"red", "orange", "yellow", "green", "red", "blue"}
colors

{'blue', 'green', 'orange', 'red', 'yellow'}

Notice that the duplicate string "$red$" was ignored (without causing an error). An important use of Sets is **duplicate elimination**, which is automatic when creating a Set. Also, the resulting Set's values are not displayed in the same order as they were listed initially. Though the color names are displayed in sorted order, Sets are unordered.

In [ ]:
# The following code creates a Set of mixed datatypes.
mixed = {1.0, "Hello", (1, 2, 3), 5}
print(mixed)
print(type(mixed))

{1.0, 'Hello', 5, (1, 2, 3)}
<class 'set'>

Sets are mutable, i.e., we can add and remove elements, but Set elements must be immutable.

In [ ]:
# Throw Error: Set cannot have mutable items, i.e., [3, 4] is a mutable list. It will cause an error.

my_set = {1, 2, [3, 4]}

TypeError: ignored

**Determine a Set's length.**

In [ ]:
# Determine the number of items in a Set with the built-in len() function.
len(colors)

5

**Check whether a value exists in a Set.**

Check whether a Set contains a particular value using the "$in$" and "$not\mbox{ }in$" operators.

In [ ]:
"red" in colors

True

In [ ]:
"purple" in colors

False

In [ ]:
"purple" not in colors

True

**Iterate through a Set.**

Sets are iterable and can process each element using a $for()$ loop.

In [ ]:
for col in colors:
    print(col.upper(), end=" ")

# Sets are unordered, so there's no significance to the iteration order.

ORANGE RED GREEN YELLOW BLUE

**Create a Set with the built-in $set()$ function.**

We can create a Set from another collection of values by using the built-in $set()$ function.

In [ ]:
# Create a list that contains several duplicate integer values and use that list as the Set's argument.
numbers = list(range(10)) + list(range(5))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [ ]:
# Sets can also be created from lists.
number_set = set(numbers)
number_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

If we need to create an empty Set, we must use the $set()$ function with empty parentheses rather than using empty braces $\left \{  \right \}$. Python displays an empty Set as "$set()$" to avoid confusion with Python's string representation of an empty dictionary ($\left \{  \right \}$).

In [ ]:
a = set()
print(type(a))

<class 'set'>

In [ ]:
b = {}
print(type(b))

<class 'dict'>

## **Comparing Sets**

Various operators and methods are used to compare Sets.

The following Sets contain the same values, so $==$ returns $True$ and $!=$ returns $False$.

In [ ]:
{1, 3, 5} == {3, 5, 1}

True

In [ ]:
{1, 3, 5} != {3, 5, 1}

False

The **$<$** operator tests whether the Set to its left is a **proper subset** of the one to its right, i.e., all the elements in the left operand are present in the right operand, and the Sets are not equal.

In [ ]:
{1, 3, 5} < {3, 5, 1}

False

In [ ]:
{1, 3, 5} < {7, 3, 5, 1}

True

The $<=$ operator tests whether the Set to its left is an **improper subset** of the one to its right, i.e., all the elements in the left operand are present in the right operand, and the Sets might be equal.

In [ ]:
{1, 3, 5} <= {3, 5, 1}

True

In [ ]:
{1, 3} <= {3, 5, 1}

True

We may also check for an **improper subset** with the Set method $issubset()$.

In [ ]:
{1, 3, 5}.issubset({3, 5, 1})

True

In [ ]:
{1, 2}.issubset({3, 5, 1})

False

The $>$ operator tests whether the Set to its left is a **proper superset** of the one to its right, i.e., all the elements in the right operand are present in the left operand, and the left operand has more elements.

In [ ]:
{1, 3, 5} > {3, 5, 1}

False

In [ ]:
{1, 3, 5, 7} > {3, 5, 1}

True

The $>=$ operator tests whether the Set to its left is an **improper superset** of the one to its right, i.e., all the elements in the right operand are present in the left operand, and the Sets might be equal.

In [ ]:
{1, 3, 5} >= {3, 5, 1}

True

In [ ]:
{1, 3, 5} >= {3, 1}

True

In [ ]:
{1, 3} >= {3, 1, 7}

False

We may also check for an **improper superset** with the Set method $issuperset()$.

In [ ]:
{1, 3, 5}.issuperset({3, 5, 1})

True

In [ ]:
{1, 3, 5}.issuperset({3, 2})

False

## **Mathematical Set Operations**

Sets can perform mathematical operations such as **union**, **intersection**, **difference**, **symmetric difference**, and **disjoint**. Python provides the facility to carry out these operations with operators or methods.

### **Set Union**

The **union** of two Sets is a Set consisting of all the **unique elements** from both Sets. The **union** of two Sets is calculated using the **pipe "$|$" operator** or with the set type's $union()$ method.

![image.png](https://cdn.programiz.com/sites/tutorial2program/files/set-union.jpg)

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# Union of "A" and "B" is a Set of all elements from both Sets.
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Using Union Function.
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Using Union Function.
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

### **Set Intersection**

The **intersection** of two Sets is a Set consisting of all the **unique elements** that the two Sets have in common. The intersection of two Sets is calculated using the **and "&" operator** or with the set type's $intersection()$ method.

![image.png](https://cdn.programiz.com/sites/tutorial2program/files/set-intersection.jpg)

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# Intersection of "A" and "B" is a Set of elements that are common in both Sets.
print(A & B)

{4, 5}

In [ ]:
# Using Intersection Function.
A.intersection(B)

{4, 5}

In [ ]:
# Using Intersection Function.
B.intersection(A)

{4, 5}

### **Set Difference**

The **difference** between two Sets is a Set consisting of all the elements in the left operand that are not present in the right operand. The difference between two Sets is calculated using the **subtraction "$-$" operator** or with the set type's $difference()$ method.

![image.png](https://cdn.programiz.com/sites/tutorial2program/files/set-difference.jpg)

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# Difference between "A" and "B" is a Set of elements that are only present in Set "A" but not in Set "B".
print(A - B)

# Similarly, (B - A) represents a Set of elements that are only present in Set "B" but not in Set "A".
print(B - A)

{1, 2, 3}
{8, 6, 7}

In [ ]:
# Using Difference Function.
A.difference(B)

{1, 2, 3}

In [ ]:
# Using Difference Function.
B.difference(A)

{6, 7, 8}

### **Set Symmetric Difference**

The **symmetric difference** between two Sets is a Set consisting of all the elements in both Sets that are not in common with one another. The symmetric difference between two Sets is calculated using the **"$\wedge$" operator** or with the set type's $symmetric\_difference()$ method.

![image.png](https://cdn.programiz.com/sites/tutorial2program/files/set-symmetric-difference.jpg)

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# Symmetric Difference between "A" and "B" is a set of elements that are only present in Set "A" and Set "B", but not in both.
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [ ]:
# Using Symmetric Difference Function.
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [ ]:
# Using Symmetric Difference Function.
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

### **Set Disjoint**

Two Sets are **disjoint** if they do not have any common elements. The disjoint of two Sets is determined using the set type's $isdisjoint()$ method.

In [ ]:
{1, 3, 5}.isdisjoint({2, 4, 6})

True

In [ ]:
{1, 3, 5}.isdisjoint({4, 6, 1})

False

# **Set Operations**

Sets are mutable. However, since they are unordered, indexing has no meaning. We cannot access or change an element of a Set using indexing or slicing. Set data type does not support it.

**Methods for Adding Elements**

Python provides the $add()$ method, which adds some particular item in the Set. The new element only gets inserted if it *doesn't already exist* inside the Set; otherwise, the Set remains unchanged. The $add()$ method inserts only a single element in the Set.

In [ ]:
numbers = {1, 2, 3, 5, 7, 8, 9}

In [ ]:
numbers.add(17)
print(numbers)

{1, 2, 3, 5, 7, 8, 9, 17}

In [ ]:
numbers.add(3)
print(numbers)

{1, 2, 3, 5, 7, 8, 9, 17}

**Methods for Updating Elements**

Python provides the $update()$ method, which adds some particular item in the Set. Unlike $add()$ method, the $update()$ method inserts multiple elements into the Set. The $update()$ method takes tuples, lists, strings, or other sets as its argument. In all cases, duplicate data gets avoided.

In [ ]:
numbers = {1, 2, 3, 5, 7, 8, 9}

In [ ]:
# Add Multiple Elements.
numbers.update([12, 33, 47])
print(numbers)

{1, 2, 3, 33, 5, 7, 8, 9, 12, 47}

In [ ]:
numbers.update([14, 25], {81, 96, 78})
print(numbers)

{96, 1, 2, 3, 33, 5, 7, 8, 9, 12, 14, 47, 78, 81, 25}

In [ ]:
num = set()

num.update(range(10))
print(num)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

**Methods for Removing Elements**

Python provides two methods, i.e., the $remove()$ method and the $discard()$ method that removes some particular item from the Set.

The only difference between these two methods is that the $discard()$ function leaves a Set unchanged if the element is not present in the Set. On the other hand, the $remove()$ function will raise an error in such a condition (if the element is not present in the Set).

In [ ]:
numbers = {1, 2, 3, 5, 7, 8, 9}

In [ ]:
# Discard an Element.
numbers.discard(3)  # Set method discard() removes its argument from the Set.
print(numbers)

{1, 2, 5, 7, 8, 9}

In [ ]:
# Discard an Element.
numbers.discard(6)  # Set method discard() doesn't cause an exception if the value is not in the Set.
print(numbers)

{1, 2, 5, 7, 8, 9}

In [ ]:
# Remove an Element.
numbers.remove(8)  # Set method remove() removes its argument from the Set.
print(numbers)

{1, 2, 5, 7, 9}

In [ ]:
# Remove an Element.
numbers.remove(11)  # Set method remove() throws a "KeyError" if the argument value is not in the Set.
print(numbers)

KeyError: ignored

We can also remove and return an item using the $pop()$ method. Since the Set is an unordered data type, there is no way of determining which item will be popped. It is an arbitrary process. A $KeyError$ occurs if the Set is empty when calling the $pop()$ method.

In [ ]:
numbers = {1, 2, 3, 5, 7, 8, 9}

numbers.pop()

1

In [ ]:
print(numbers)

{2, 3, 5, 7, 8, 9}

We can remove all the items from a Set using the $clear()$ method.

In [ ]:
numbers = {1, 2, 3, 5, 7, 8, 9}

numbers.clear()

print(numbers)

set()

# **Set Comprehensions**

Like dictionary comprehensions, Set comprehensions are defined in curly braces.

Let's create a new Set containing only the unique even values in the list numbers.

In [ ]:
numbers = [1, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 10]

evens = {item for item in numbers if item % 2 == 0}

print(evens)

{2, 4, 6, 8, 10}

In [ ]:
# Constructing output Set Without Using Set Comprehension.

input_list = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]
output_set = set()

# Using the for() loop for constructing the output Set.
for var in input_list:
    if var % 2 == 0:
        output_set.add(var)

print("Output Set using the for() loop:", output_set)

# Constructing output Set Using Set Comprehension.

set_using_comp = {var for var in input_list if var % 2 == 0}

print("Output Set using Set Comprehension:", set_using_comp)

Output Set using the for() loop: {2, 4, 6}
Output Set using Set Comprehension: {2, 4, 6}

# **Python FrozenSet**

FrozenSet is a new class that has the characteristics of a Set, but its elements cannot be changed once assigned. While tuples are immutable lists, FrozenSets are immutable Sets. FrozenSets can be created using the $frozenset()$ function. FrozenSet supports all the mathematical operations, but being immutable, it does not have methods that add or remove elements.