# **Python Tuples**

Tuples are immutable and typically store **heterogeneous** data, but the data can be **homogeneous**. A tuple's length is its number of elements and cannot change during program execution. A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists.

Python tuples are a data structure that stores an ordered sequence of values. Tuples are immutable. It means we cannot change the values in a tuple. Tuples are defined with parenthesis.

### **References:** 

> [**Python Tuples - Programiz**](https://www.programiz.com/python-programming/tuple)

### **Create Tuples**

A tuple is created by placing all the items (elements) inside parentheses "$( )$" separated by commas. The parentheses are optional. However, it is a good practice to use them. A tuple can have any number of items and may be of different types (integer, float, list, string, etc.).

In [1]:
# To create an empty tuple, use empty parentheses.
my_tuple = ()
print(my_tuple)

()

In [2]:
print(len(my_tuple))
print(type(my_tuple))

0
<class 'tuple'>

In [3]:
# Create Tuples with mixed datatype.
new_tuple = (1, "Hello", 3.4)

print(new_tuple)
print(len(new_tuple))

(1, 'Hello', 3.4)
3

**Tuples May Contain Mutable Objects.**

In [4]:
# Nested Tuple.
nested_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

print(nested_tuple)
print(len(nested_tuple))

('mouse', [8, 4, 6], (1, 2, 3))
3

A tuple can also be created without using parentheses. This process is known as **tuple packing**.

In [5]:
mytuple = 3, 4.6, "dog"
print(mytuple)

(3, 4.6, 'dog')

In [6]:
# Tuple unpacking is also possible.
a, b, c = mytuple
print(a)
print(b)
print(c)

3
4.6
dog

Creating a tuple with one element is a bit tricky. Having only a single element within parentheses is not enough. We will need a trailing comma $(,)$ to indicate that it is, in fact, a tuple.

In [7]:
onetuple = "hello"
print(type(onetuple))  # <class 'str'>

# Creating a tuple having one element.
onetuple = ("hello",)
print(type(onetuple))  # <class 'tuple'>

# Parentheses is Optional.
onetuple = ("hello",)
print(type(onetuple))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

### **Accessing Tuple Elements**

A tuple's elements, though related, are often of multiple types. Usually, we do not iterate over them. Rather, we access each element individually. Like list indices, tuple indices start at 0.

We can use the index operator $\left [ \mbox{ } \right ]$ to access an item in a tuple, where the index starts from 0. So, a tuple having 6 elements will have indices from 0 to 5. Trying to access an index outside of the tuple index range will raise an $IndexError$. The index must be an integer, so we cannot use float or other types. It will result in $TypeError$.

In [8]:
# Access tuple elements using indexing.
my_name = ("a", "r", "i", "t", "r", "a")

print(my_name[0])
print(my_name[2])

a
i

In [9]:
print(my_name[6])  # Index Error.

IndexError: ignored

In [10]:
print(my_name[2.0])  # Index Error.

TypeError: ignored

In [11]:
# Access nested tuple elements using indexing.
nested_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

print(nested_tuple[0][3])
print(nested_tuple[1][1])

s
4

### **Add Items to a String or Tuple**

As with lists, the $+=$ augmented assignment statement can be used with strings and tuples, even though they're **immutable**.

In [12]:
tuple1 = (10, 20, 30)

tuple2 = tuple1

print(tuple2)

# Concatenate the tuple (40, 50) to tuple1 to create a new tuple.
# For a string or tuple, the item to the right of += must be a string or tuple, respectively.

tuple1 += (40, 50)

print(tuple1)

(10, 20, 30)
(10, 20, 30, 40, 50)

**Append Tuples to Lists**

We can use $+=$ to append a tuple to a list.

In [13]:
numbers = [1, 2, 3, 4, 5]

numbers += (6, 7)

numbers

[1, 2, 3, 4, 5, 6, 7]

### **Negative Indexing**

Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item, and so on.

In [14]:
my_name = ("a", "r", "i", "t", "r", "a")

print(my_name[-1])    # Prints 'a'.
print(my_name[-4])    # Prints 'i'.
print(my_name[-3:-1])

a
i
('t', 'r')

### **Tuple Slicing**

Python can access a range of items in a tuple by using the slicing operator colon "$:$" and the index **[ ]** operator. The indexing and slicing in the tuple are similar to lists. The indexing in the tuple starts from 0 and goes to $length(tuple) - 1$.

Consider the following image to understand the indexing and slicing in detail. Slicing can be best visualized by considering the index to be between the elements as shown below.

![image.png](https://static.javatpoint.com/python/images/tuple-indexing-and-splitting.png)

In [15]:
# Access tuple elements using Slicing.
name_tuple = ("a", "r", "i", "t", "r", "a", "", "g", "a", "n", "g", "u", "l", "y")

# Access tuple elements from 2nd to 4th.
print(name_tuple[1:4])  # Output: ('r', 'i', 't')

# Access first 7 tuple elements.
print(name_tuple[:-7])  # Output: ('a', 'r', 'i', 't', 'r', 'a', '')

# Access 8th to end tuple elements.
print(name_tuple[7:])  # Output: ('g', 'a', 'n', 'g', 'u', 'l', 'y')

# Access all tuple elements.
print(name_tuple[:])  # Output: ('a','r','i','t','r','a', '', 'g', 'a', 'n', 'g', 'u', 'l', 'y')

('r', 'i', 't')
('a', 'r', 'i', 't', 'r', 'a', '')
('g', 'a', 'n', 'g', 'u', 'l', 'y')
('a', 'r', 'i', 't', 'r', 'a', '', 'g', 'a', 'n', 'g', 'u', 'l', 'y')

### **Deleting a Tuple**

As discussed earlier, we cannot change the elements in a tuple. It means that we cannot delete or remove items from a tuple. Deleting a tuple entirely, however, is possible using the keyword "$del$". Unlike lists, the tuple elements can't be deleted by using the "$del$" keyword as tuples are immutable.

In [16]:
my_tuple = ("a", "r", "i", "t", "r", "a")

# Delete an entire tuple.
del my_tuple

# NameError: name "my_tuple" is not defined.
print(my_tuple)

NameError: ignored

### **Changing a Tuple**

Unlike lists, tuples are immutable. It means that the elements of a tuple cannot be changed, once they are assigned. But, if the element is itself a mutable data type as a list, its nested items can be changed. We can also assign a tuple to different values (reassignment).

In [17]:
my_tuple = (4, 2, 3, [6, 5])

In [18]:
# TypeError: 'tuple' object does not support item assignment.
my_tuple[1] = 9

TypeError: ignored

In [19]:
# However, item of mutable element can be changed.
my_tuple[3][0] = 9  # Output: (4, 2, 3, [9, 5])
print(my_tuple)

(4, 2, 3, [9, 5])

We can use the $+$ operator to combine two tuples. This process is called **concatenation**.

We can also repeat the elements in a tuple for a given number of times using the $*$ operator.

Both $+$ and $*$ operations result in a new tuple.

In [20]:
# Tuple Concatenation.
X = (1, "A", 2.1)
Y = ("Q", 9.5, 4)
Z = X + Y
print(Z)

(1, 'A', 2.1, 'Q', 9.5, 4)

In [21]:
# The repetition operator "*" enables the tuple elements to be repeated multiple times.
I = ("Repeat",)
J = I * 3
print(J)

('Repeat', 'Repeat', 'Repeat')

### **Tuple Methods**

Methods that add items or remove items are not available with tuples. Only the following two methods are available.

In [22]:
my_name = ("a", "r", "i", "t", "r", "a")

print(my_name.count("a"))  # Output: '2'
print(my_name.index("t"))  # Output: '3'

2
3

### **Other Tuple Operations**

**1. Tuple Membership Test**

We can test if an item exists in a tuple or not by using the keyword "$in$".

In [23]:
# Membership test in the tuple.
my_name = ("a", "r", "i", "t", "r", "a")

# In Operation.
print("a" in my_name)
print("q" in my_name)

# Not in Operation.
print("g" not in my_name)

True
False
True

**2. Iterate through a Tuple**

We can use a $for()$ loop to iterate through each item in a tuple.

In [24]:
# Use a for() loop to iterate through a tuple.
for name in ("Aritra", "Ganguly"):
    print("Hello", name)

Hello Aritra
Hello Ganguly

## **Python Tuple Inbuilt Functions**

*   **$cmp(tuple1, tuple2)$:** It compares two tuples and returns **True** if $tuple1$ is greater than $tuple2$, or otherwise **False**.
*   **$len(tuple)$:** It calculates the length of the tuple.
*   **$max(tuple)$:** It returns the maximum element of the tuple.
*   **$min(tuple)$:** It returns the minimum element of the tuple.
*   **$tuple(seq)$:** It converts the specified sequence to the tuple.

## **Advantages of Tuple over List**

Since tuples are very similar to lists, therefore both are used in similar situations. However, there are certain advantages of implementing a tuple over a list. Below listed are some of the main advantages:

*   *We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.*
*   *Since tuples are immutable, iterating through a tuple is faster than with a list. So there is a slight performance boost.*
*   *Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.*
*   *If we have data that doesn't change, implementing it as a tuple will guarantee that it remains write-protected.*

### **When to use Tuple?**

*   *Using tuple instead of the list gives us a clear idea that tuple data is constant and must not be changed.*
*   *Tuple can simulate a dictionary without keys.*

## **Difference between Lists and Tuples.**

**************************************************************************

1.1.   **List:** The literal syntax of the list is **[ ]**.

1.2.   **Tuple:** The literal syntax of the tuple is **( )**.

**************************************************************************

2.1.   **List:** Lists are mutable.

2.2.   **Tuple:** Tuples are immutable.

**************************************************************************

3.1.   **List:** The list has a variable length.

3.2.   **Tuple:** The tuple has a fixed length.

**************************************************************************

4.1.   **List:** The list provides more functionality than a tuple.

4.2.   **Tuple:** The tuple provides less functionality than the list.

**************************************************************************

5.1.   **List:** The list stores the simple collections with no constraints, i.e., the value of the list items can be altered.

5.2.   **Tuple:** The tuple stores the read-only collections, i.e., the items values cannot be altered. It can also be used as the key inside the dictionary.

**************************************************************************

6.1.   **List:** The lists are less memory efficient than a tuple.

6.2.   **Tuple:** The tuples are more memory efficient because of their immutability.

**************************************************************************